[submodule "esercizio 1"]
	path = esercizio 1
	url = https://github.com/ripetizioni/esercizio_1.git
[submodule "esercizio-2"]
	path = esercizio-2
	url = https://github.com/ripetizioni/esercizio-2.git
[submodule "esercizio_3"]
	path = esercizio_3
	url = https://github.com/ripetizioni/esercizio_3.git
